body, 
p{font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 21px;
    line-height: 1.57;

}
.center{
    text-align: center;
}
.blue, a{color: #0691d7;}
.yellow{color: #ffa400;}
.big-font{font-size: 36px;}
.left{text-align: left;}
.italic{font-style: italic;}
table{font-size: 18px;}
.recept{width: 60%;
margin: auto;}
.main-title{
    height: 512px;
    background-color: #0691d7;
    background-repeat: no-repeat;
    color: white;
    background-position: center;
    background-size: cover;
letter-spacing: 5px;
background-image: url(./assets/image/Malinoviy_tort2.jpg)

}