body{text-align: center;}
body{background-color: rgb(87, 54, 54);}
h1{background-color: yellow;}
h2{background-color: yellow;}
h3{background-color: yellow; color: aqua;}
h4{background-color: blue;}
h5{background-color: yellow;}
h6{background-color: blue;}

h1,
h2,
h3,
h4,
h5,
h6{font-size: 25px;}